.banner-container{
    margin: 1rem; 
}

.banner-image{
    width: 100vw;
    height: 30rem;
}


.banner-image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer;
}

@media screen and (max-width:520px) {
    .banner-image{
        width: 100%;
        height: 22vh;
    }
}