.email-successmessage{
    display: flex;
    justify-content: center;
    color: green;
    font-size: 13px;
    font-weight: 600;
    font-family: cursive;
}

.email-error{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 13px;
    font-weight: 600;
    font-family: cursive;
}
.forget-timmer{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 13px;
    font-weight: 600;
    font-family: fantasy;
    margin-top: 1rem;
}

.forger-click{
    pointer-events: none;
    color: white;
}

.password-error{
    color: red;
    font-weight: 600;
    font-size: 12px;
    font-style: oblique;
    font-family: cursive;
}